{% load buttons %}
{% load custom_links %}
{% load helpers %}
{% load i18n %}
{% load plugins %}

<div class="card">
    <h5 class="card-header">
        {% trans "Address Lists" %}
        <div class="card-actions">
            {% if perms.netbox_nsm.add_addresslist %}
                <a href="{% url 'plugins:netbox_nsm:addresslistassignment_add' %}?assigned_object_type={{ object|content_type_id }}&assigned_object_id={{ object.pk }}&return_url={{ object.get_absolute_url }}" class="btn btn-ghost-primary btn-sm">
                  <span class="mdi mdi-plus-thick" aria-hidden="true"></span> {% trans "Assign Address List" %}
                </a>
            {% endif %}
        </div>
    </h5>
    {% htmx_table 'plugins:netbox_nsm:addresslistassignment_list' security_zone_id=object.pk %}
</div>
<div class="card">
    <h5 class="card-header">
        {% trans "Addresses" %}
        <div class="card-actions">
            {% if perms.netbox_nsm.add_address %}
                <a href="{% url 'plugins:netbox_nsm:address_add' %}?return_url={{ object.get_absolute_url }}" class="btn btn-ghost-primary btn-sm">
                  <span class="mdi mdi-plus-thick" aria-hidden="true"></span> {% trans "Create Address" %}
                </a>
            {% endif %}
            {% if perms.netbox_nsm.add_addressassignment %}
                <a href="{% url 'plugins:netbox_nsm:addressassignment_add' %}?assigned_object_type={{ object|content_type_id }}&assigned_object_id={{ object.pk }}&return_url={{ object.get_absolute_url }}" class="btn btn-ghost-primary btn-sm">
                  <span class="mdi mdi-plus-thick" aria-hidden="true"></span> {% trans "Assign Address" %}
                </a>
            {% endif %}
        </div>
    </h5>
    {% htmx_table 'plugins:netbox_nsm:addressassignment_list' security_zone_id=object.pk %}
</div>
<div class="card">
    <h5 class="card-header">
        {% trans "Address Sets" %}
        <div class="card-actions">
            {% if perms.netbox_nsm.add_addressset %}
                <a href="{% url 'plugins:netbox_nsm:addressset_add' %}?return_url={{ object.get_absolute_url }}" class="btn btn-ghost-primary btn-sm">
                  <span class="mdi mdi-plus-thick" aria-hidden="true"></span> {% trans "Create Address Set" %}
                </a>
            {% endif %}
            {% if perms.netbox_nsm.add_addresssetassignment %}
                <a href="{% url 'plugins:netbox_nsm:addresssetassignment_add' %}?assigned_object_type={{ object|content_type_id }}&assigned_object_id={{ object.pk }}&return_url={{ object.get_absolute_url }}" class="btn btn-ghost-primary btn-sm">
                  <span class="mdi mdi-plus-thick" aria-hidden="true"></span> {% trans "Assign Address Set" %}
                </a>
            {% endif %}
        </div>
    </h5>
    {% htmx_table 'plugins:netbox_nsm:addresssetassignment_list' security_zone_id=object.pk %}
</div>