{% extends 'generic/object.html' %}
{% load buttons %}
{% load custom_links %}
{% load helpers %}
{% load i18n %}
{% load plugins %}
{% load render_table from django_tables2 %}
{% load object_type %}


{% block content %}
<div class="row">
    <div class="col col-md-6">
        <div class="card">
            <h5 class="card-header">{% trans "Addresses" %}</h5>
            <table class="table table-hover attr-table">
                <tr>
                    <th scope="row">{% trans "Name" %}</th>
                    <td>{{ object.name }}</td>
                </tr>
                {% if object.assigned_object %}
                {% get_related_object_type object.assigned_object as obj_type %}
                <tr>
                    <th scope="row">{{ obj_type }}</th>
                    <td>{{ object.assigned_object|linkify|placeholder }}</td>
                </tr>
                {% endif %}
                {% if object.dns_name %}
                <tr>
                    <th scope="row">{% trans "DNS Name" %}</th>
                    <td>{{ object.dns_name }}</td>
                </tr>
                {% endif %}
                {% if object.description %}
                <tr>
                    <th scope="row">{% trans "Description" %}</th>
                    <td>{{ object.description|placeholder }}</td>
                </tr>
                {% endif %}
                <tr>
                    <th scope="row">{% trans "Parent Source Policies" %}</th>
                    <td>
                        {% for item in object.address_lists.all %}
                            {% for child in item.securityzonepolicy_source_address.all %}
                                {{ child|linkify|placeholder }}<br />
                            {% endfor %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Parent Destination Policies" %}</th>
                    <td>
                        {% for item in object.address_lists.all %}
                            {% for child in item.securityzonepolicy_destination_address.all %}
                                {{ child|linkify|placeholder }}<br />
                            {% endfor %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Parent Address Sets" %}</th>
                    <td>
                        {% for item in object.addressset_addresses.all %}
                        {{ item|linkify|placeholder }}<br />
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </div>
        <div class="card">
            <h5 class="card-header">{% trans "Assigned Objects" %}</h5>
            <div class="card-body p-0">
                <ul class="nav nav-tabs px-3 pt-2" id="nsm-addr-assign-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="nsm-addr-tab-devices" data-bs-toggle="tab" data-bs-target="#nsm-addr-pane-devices" type="button" role="tab" aria-selected="true">
                            <span class="mdi mdi-server" aria-hidden="true"></span> {% trans "Devices" %}
                            {% if device_assignments_table.rows %}<span class="badge text-bg-secondary ms-1">{{ device_assignments_table.rows|length }}</span>{% endif %}
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="nsm-addr-tab-vdcs" data-bs-toggle="tab" data-bs-target="#nsm-addr-pane-vdcs" type="button" role="tab" aria-selected="false">
                            <span class="mdi mdi-cpu-64-bit" aria-hidden="true"></span> {% trans "Virtual Device Contexts" %}
                            {% if virtual_device_assignments_table.rows %}<span class="badge text-bg-secondary ms-1">{{ virtual_device_assignments_table.rows|length }}</span>{% endif %}
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="nsm-addr-tab-vms" data-bs-toggle="tab" data-bs-target="#nsm-addr-pane-vms" type="button" role="tab" aria-selected="false">
                            <span class="mdi mdi-desktop-classic" aria-hidden="true"></span> {% trans "Virtual Machines" %}
                            {% if virtual_machine_assignments_table.rows %}<span class="badge text-bg-secondary ms-1">{{ virtual_machine_assignments_table.rows|length }}</span>{% endif %}
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="nsm-addr-tab-zones" data-bs-toggle="tab" data-bs-target="#nsm-addr-pane-zones" type="button" role="tab" aria-selected="false">
                            <span class="mdi mdi-shield-outline" aria-hidden="true"></span> {% trans "Security Zones" %}
                            {% if zone_assignments_table.rows %}<span class="badge text-bg-secondary ms-1">{{ zone_assignments_table.rows|length }}</span>{% endif %}
                        </button>
                    </li>
                </ul>
                <div class="tab-content" id="nsm-addr-assign-tab-content">
                    <div class="tab-pane fade show active p-3" id="nsm-addr-pane-devices" role="tabpanel" aria-labelledby="nsm-addr-tab-devices">
                        <div class="table-responsive">
                            {% render_table device_assignments_table 'inc/table.html' %}
                        </div>
                    </div>
                    <div class="tab-pane fade p-3" id="nsm-addr-pane-vdcs" role="tabpanel" aria-labelledby="nsm-addr-tab-vdcs">
                        <div class="table-responsive">
                            {% render_table virtual_device_assignments_table 'inc/table.html' %}
                        </div>
                    </div>
                    <div class="tab-pane fade p-3" id="nsm-addr-pane-vms" role="tabpanel" aria-labelledby="nsm-addr-tab-vms">
                        <div class="table-responsive">
                            {% render_table virtual_machine_assignments_table 'inc/table.html' %}
                        </div>
                    </div>
                    <div class="tab-pane fade p-3" id="nsm-addr-pane-zones" role="tabpanel" aria-labelledby="nsm-addr-tab-zones">
                        <div class="table-responsive">
                            {% render_table zone_assignments_table 'inc/table.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'inc/panels/custom_fields.html' %}
        {% plugin_left_page object %}
    </div>
    <div class="col col-md-6">
        {% include 'inc/panels/comments.html' %}
        {% include 'inc/panels/tags.html' %}
        {% plugin_right_page object %}
    </div>
    {% plugin_full_width_page object %}
</div>
{% endblock %}