{% extends 'netbox_custom_objects/customobject.html' %}
{% load i18n %}
{% load nsm_security_tab_tags %}

{% block tabs %}
  <ul class="nav nav-tabs" role="presentation">
    <li class="nav-item">
      <a class="nav-link{% if not tab %} active{% endif %}" href="{{ object.get_absolute_url }}">{{ object.custom_object_type.get_verbose_name }}</a>
    </li>
    {% nsm_plugin_extra_tabs object %}
    <li class="nav-item">
      <a class="nav-link{% if tab == 'journal' %} active{% endif %}" href="{% url 'plugins:netbox_nsm:nsm_object_journal' object.custom_object_type.slug object.pk %}">{% trans "Journal" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link{% if tab == 'changelog' %} active{% endif %}" href="{% url 'plugins:netbox_nsm:nsm_object_changelog' object.custom_object_type.slug object.pk %}">{% trans "Changelog" %}</a>
    </li>
  </ul>
{% endblock tabs %}
