{% extends 'generic/object.html' %}
{% load i18n %}
{% load helpers %}
{% load plugins %}

{% block content %}
<div class="row mb-3">
  <div class="col-md-6">
    <div class="card">
      <h5 class="card-header">{% trans "Object Group" %}</h5>
      <table class="table table-hover attr-table">
        <tr><th scope="row">{% trans "Name" %}</th><td>{{ object.name }}</td></tr>
        <tr><th scope="row">{% trans "Area" %}</th><td>{{ object.get_area_display }}</td></tr>
        <tr><th scope="row">{% trans "Description" %}</th><td>{{ object.description|placeholder }}</td></tr>
      </table>
    </div>
    {% include 'inc/panels/custom_fields.html' %}
  </div>
  <div class="col-md-6">
    {% include 'inc/panels/tags.html' %}
    {% include 'inc/panels/comments.html' %}
  </div>
</div>

{% if sub_groups %}
<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <h5 class="card-header">{% trans "Sub-Groups" %}</h5>
      <div class="card-body">
        <table class="table table-hover">
          <thead><tr><th>{% trans "Name" %}</th><th>{% trans "Area" %}</th></tr></thead>
          <tbody>
            {% for g in sub_groups %}
              <tr>
                <td><a href="{{ g.get_absolute_url }}">{{ g.name }}</a></td>
                <td>{{ g.get_area_display }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <h5 class="card-header">{% trans "Members" %}</h5>
      <div class="card-body">
        {% if members %}
          <table class="table table-hover">
            <thead>
              <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Type" %}</th>
                <th>{% trans "Description" %}</th>
              </tr>
            </thead>
            <tbody>
              {% for m in members %}
                <tr>
                  <td><a href="{{ m.get_absolute_url }}">{{ m.name }}</a></td>
                  <td>{{ m.custom_type.name }}</td>
                  <td>{{ m.description|placeholder }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p class="text-muted">{% trans "No members assigned." %}</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% plugin_full_width_page object %}
{% endblock %}
