{% extends 'generic/object.html' %}
{% load i18n %}
{% load helpers %}

{% block content %}
<div class="row">
  <div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">{% trans "NAT Object" %}</h5>
      <table class="table table-hover attr-table">
        <tr>
          <th scope="row">{% trans "Name" %}</th>
          <td>{{ object.name }}</td>
        </tr>
        <tr>
          <th scope="row">{% trans "NAT Type" %}</th>
          <td>{% badge object.nat_type object.get_nat_type_color %}</td>
        </tr>
        <tr>
          <th scope="row">{% trans "Description" %}</th>
          <td>{{ object.description|placeholder }}</td>
        </tr>
      </table>
    </div>
    <div class="card mt-3">
      <h5 class="card-header">{% trans "Source" %}</h5>
      <table class="table table-hover attr-table">
        <tr>
          <th scope="row">{% trans "Source Address" %}</th>
          <td>{% if object.source_address %}<a href="{{ object.source_address.get_absolute_url }}">{{ object.source_address }}</a>{% else %}—{% endif %}</td>
        </tr>
        <tr>
          <th scope="row">{% trans "Source Prefix" %}</th>
          <td>{% if object.source_prefix %}<a href="{{ object.source_prefix.get_absolute_url }}">{{ object.source_prefix }}</a>{% else %}—{% endif %}</td>
        </tr>
      </table>
    </div>
    <div class="card mt-3">
      <h5 class="card-header">{% trans "Destination" %}</h5>
      <table class="table table-hover attr-table">
        <tr>
          <th scope="row">{% trans "Destination Address" %}</th>
          <td>{% if object.destination_address %}<a href="{{ object.destination_address.get_absolute_url }}">{{ object.destination_address }}</a>{% else %}—{% endif %}</td>
        </tr>
        <tr>
          <th scope="row">{% trans "Destination Prefix" %}</th>
          <td>{% if object.destination_prefix %}<a href="{{ object.destination_prefix.get_absolute_url }}">{{ object.destination_prefix }}</a>{% else %}—{% endif %}</td>
        </tr>
      </table>
    </div>
    {% include 'inc/panels/custom_fields.html' %}
  </div>
  <div class="col-md-6">
    {% include 'inc/panels/tags.html' %}
    {% include 'inc/panels/comments.html' %}
  </div>
</div>
{% endblock %}
