{% extends 'generic/object.html' %}
{% load i18n %}
{% load helpers %}
{% load markdownify %}

{% block content %}
<div class="row">
  <div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">{% trans "Comment Object" %}</h5>
      <table class="table table-hover attr-table">
        <tr>
          <th scope="row">{% trans "Subject" %}</th>
          <td>{{ object.name }}</td>
        </tr>
        <tr>
          <th scope="row">{% trans "Description" %}</th>
          <td>{{ object.description|placeholder }}</td>
        </tr>
      </table>
    </div>
    {% if object.comment %}
    <div class="card mt-3">
      <h5 class="card-header">{% trans "Comment" %}</h5>
      <div class="card-body rendered-markdown">
        {{ object.comment|markdownify }}
      </div>
    </div>
    {% endif %}
    {% include 'inc/panels/custom_fields.html' %}
  </div>
  <div class="col-md-6">
    {% include 'inc/panels/tags.html' %}
    {% include 'inc/panels/comments.html' %}
  </div>
</div>
{% endblock %}
