{% extends 'generic/object.html' %}
{% load i18n %}
{% load helpers %}

{% block content %}
<div class="row">
  <div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">{% trans "Label" %}</h5>
      <table class="table table-hover attr-table">
        <tr><th scope="row">{% trans "Type" %}</th><td>{{ object.type_display }}</td></tr>
        <tr><th scope="row">{% trans "Name" %}</th><td>{{ object.name }}</td></tr>
        <tr><th scope="row">{% trans "Display" %}</th><td>{{ object.display }}</td></tr>
        <tr>
          <th scope="row">{% trans "Color" %}</th>
          <td>
            <span style="display:inline-block;width:14px;height:14px;border:1px solid #666;background:{{ object.color }};margin-right:6px;vertical-align:middle"></span>
            <code>{{ object.color }}</code>
          </td>
        </tr>
        <tr><th scope="row">{% trans "Description" %}</th><td>{{ object.description|placeholder }}</td></tr>
      </table>
    </div>
    {% include 'inc/panels/custom_fields.html' %}
  </div>
  <div class="col-md-6">
    {% include 'inc/panels/tags.html' %}
    {% include 'inc/panels/comments.html' %}
  </div>
</div>
{% endblock %}
