{% extends 'generic/object.html' %}
{% load i18n %}
{% load helpers %}

{% block content %}
<div class="row">
  <div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">{% trans "NSM Object" %}</h5>
      <table class="table table-hover attr-table">
        <tr><th scope="row">{% trans "Name" %}</th><td>{{ object.name }}</td></tr>
        <tr><th scope="row">{% trans "Object Type" %}</th><td><a href="{{ object.security_property_type.get_absolute_url }}">{{ object.security_property_type.display_name }}</a></td></tr>
        <tr>
          <th scope="row">{% trans "Color" %}</th>
          <td>
            {% if object.color %}
              <span class="d-inline-flex align-items-center gap-2">
                <span class="d-inline-block rounded-circle border" style="width: 1rem; height: 1rem; background: {{ object.color }}; border-color: var(--bs-border-color) !important;"></span>
                <span>{{ object.color }}</span>
              </span>
            {% else %}
              {{ object.color|placeholder }}
            {% endif %}
          </td>
        </tr>
        <tr><th scope="row">{% trans "Source Model" %}</th><td>{{ object.source_model|placeholder }}</td></tr>
        <tr><th scope="row">{% trans "Source PK" %}</th><td>{{ object.source_pk|placeholder }}</td></tr>
        <tr><th scope="row">{% trans "Description" %}</th><td>{{ object.description|placeholder }}</td></tr>
      </table>
    </div>
    {% include 'inc/panels/custom_fields.html' %}
  </div>
  <div class="col-md-6">
    {% include 'inc/panels/tags.html' %}
    {% include 'inc/panels/comments.html' %}
  </div>
</div>
<div class="row mt-3">
  <div class="col col-md-12">
    <div class="card">
      <h5 class="card-header">{% trans "Object Data" %}</h5>
      <div class="card-body p-0">
        <table class="table table-hover mb-0">
          <thead>
            <tr>
              <th>{% trans "Field" %}</th>
              <th>{% trans "Type" %}</th>
              <th>{% trans "Value" %}</th>
            </tr>
          </thead>
          <tbody>
            {% for row in typed_data %}
              <tr>
                <td>{{ row.label }}</td>
                <td>{{ row.type }}</td>
                <td>
                  {% if row.value is None %}
                    <span class="text-muted">-</span>
                  {% else %}
                    <code>{{ row.value }}</code>
                  {% endif %}
                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="3" class="text-muted">{% trans "No fields defined for this object type." %}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
