{% extends 'generic/object.html' %}
{% load i18n %}
{% load helpers %}

{% block content %}
<div class="row">
  <div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">{% trans "NSM Object Type" %}</h5>
      <table class="table table-hover attr-table">
        <tr><th scope="row">{% trans "Name" %}</th><td>{{ object.name }}</td></tr>
        <tr><th scope="row">{% trans "Display name" %}</th><td>{{ object.display_name }}</td></tr>
        <tr><th scope="row">{% trans "Slug" %}</th><td>{{ object.slug }}</td></tr>
        <tr><th scope="row">{% trans "Group" %}</th><td>{{ object.group_name|placeholder }}</td></tr>
        <tr><th scope="row">{% trans "Description" %}</th><td>{{ object.description|placeholder }}</td></tr>
      </table>
    </div>
    {% include 'inc/panels/custom_fields.html' %}
  </div>
  <div class="col-md-6">
    {% include 'inc/panels/tags.html' %}
    {% include 'inc/panels/comments.html' %}
  </div>
</div>
<div class="row mt-3">
  <div class="col col-md-12">
    <div class="card">
      <h5 class="card-header">{% trans "Fields" %}</h5>
      <div class="card-body p-0">
        {% include 'htmx/table.html' with table=fields_table %}
      </div>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col col-md-12">
    <div class="card">
      <h5 class="card-header">{% trans "Objects" %}</h5>
      <div class="card-body p-0">
        {% include 'htmx/table.html' with table=objects_table %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
