{% extends 'generic/object.html' %}
{% load i18n %}
{% load helpers %}
{% load plugins %}
{% load buttons %}

{% block head %}
{{ block.super }}
{% include "netbox_nsm/inc/rulebook_page_head.html" %}
{% endblock head %}

{% block breadcrumbs %}
{% include "netbox_nsm/inc/rulebook_breadcrumbs.html" %}
{% endblock breadcrumbs %}

{% block control-buttons %}
  {% block extra_controls %}{% endblock %}
  {% if perms.extras.add_bookmark and object.bookmarks %}
    {% bookmark_button object %}
  {% endif %}
  {% if perms.extras.add_subscription and object.subscriptions %}
    {% subscribe_button object %}
  {% endif %}
  {% if not tab %}
    {% action_buttons actions object %}
  {% endif %}
{% endblock control-buttons %}

{% block content %}
{% include "netbox_nsm/inc/rulebook_detail_content.html" %}
{% endblock %}
