{% extends 'generic/object_list.html' %}
{% load i18n %}
{% url 'plugins:netbox_nsm:global_rules_search' as global_search_url %}

{% block content %}
  {{ block.super }}
  <script>
    (function () {
      // Replace quicksearch with global rule search
      var qs = document.querySelector('.quicksearch');
      if (!qs) return;
      var form = document.createElement('form');
      form.method = 'get';
      form.action = '{{ global_search_url }}';
      form.className = 'input-group input-group-flat me-2';
      form.innerHTML =
        '<span class="input-group-text"><i class="mdi mdi-shield-search" aria-hidden="true"></i></span>' +
        '<input type="search" name="q" class="form-control" placeholder="Search rules &hellip;" style="min-width:160px;">' +
        '<button type="submit" class="input-group-text btn px-2" title="Search across all rulebooks"><i class="mdi mdi-magnify"></i></button>';
      qs.parentNode.replaceChild(form, qs);
    })();
  </script>
{% endblock %}
