{% extends 'generic/object.html' %}
{% load i18n %}
{% load helpers %}
{% load plugins %}
{% load render_table from django_tables2 %}

{% block extra_controls %}
    {% if perms.netbox_nsm.change_securityzonepolicy %}
    <a href="{% url 'plugins:netbox_nsm:securityzonepolicy_add' %}?source_zone={{ object.pk }}" class="btn btn-success">
        <span class="mdi mdi-plus-thick" aria-hidden="true"></span> Add Source Policy
    </a>
    <a href="{% url 'plugins:netbox_nsm:securityzonepolicy_add' %}?destination_zone={{ object.pk }}" class="btn btn-success">
        <span class="mdi mdi-plus-thick" aria-hidden="true"></span> Add Destination Policy
    </a>
    {% endif %}
{% endblock extra_controls %}


{% block content %}
<div class="row">
    <div class="col col-md-6">
        <div class="card">
            <h5 class="card-header">{% trans "Security Zones" %}</h5>
            <table class="table table-hover attr-table">
                <tr>
                    <th scope="row">{% trans "Name" %}</th>
                    <td>{{ object.name }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Color" %}</th>
                    <td>
                        <span style="display:inline-block;width:14px;height:14px;border:1px solid #666;background:{{ object.color }};margin-right:6px;vertical-align:middle"></span>
                        <code>{{ object.color }}</code>
                    </td>
                </tr>
                <tr>
                    <td>{% trans "Source Policy Count" %}</td>
                    <td>{{ object.source_policy_count|placeholder }}</td>
                </tr>
                <tr>
                    <td>{% trans "Destination Policy Count" %}</td>
                    <td>{{ object.destination_policy_count|placeholder }}</td>
                </tr>
                {% if object.description %}
                <tr>
                    <th scope="row">{% trans "Description" %}</th>
                    <td>{{ object.description|placeholder }}</td>
                </tr>
                {% endif %}
                {% if object.tenant %}
                <tr>
                    <th scope="row">{% trans "Tenant" %}</th>
                    <td>
                        {% if object.tenant.group %}
                            {{ object.tenant.group|linkify }} /
                        {% endif %}
                        {{ object.tenant|linkify|placeholder }}
                    </td>
                </tr>
                {% endif %}
            </table>
        </div>
        <div class="card">
            {% if virtual_machine_assignments_table.rows|length == 1 %}
                <h2 class="card-header">{% trans "Virtual Machine Assignment" %}</h2>
            {% else %}
                <h2 class="card-header">{% trans "Virtual Machine Assignments" %}</h2>
            {% endif %}
            <div class="table-responsive">
                {% render_table virtual_machine_assignments_table 'inc/table.html' %}
            </div>
        </div>
        <div class="card">
            {% if device_assignments_table.rows|length == 1 %}
                <h2 class="card-header">{% trans "Device Assignment" %}</h2>
            {% else %}
                <h2 class="card-header">{% trans "Device Assignments" %}</h2>
            {% endif %}
            <div class="table-responsive">
                {% render_table device_assignments_table 'inc/table.html' %}
            </div>
        </div>
        <div class="card">
            {% if virtual_device_assignments_table.rows|length == 1 %}
                <h2 class="card-header">{% trans "Virtual Device Context Assignment" %}</h2>
            {% else %}
                <h2 class="card-header">{% trans "Virtual Device Context Assignments" %}</h2>
            {% endif %}
            <div class="table-responsive">
                {% render_table virtual_device_assignments_table 'inc/table.html' %}
            </div>
        </div>
        <div class="card">
            {% if interface_assignments_table.rows|length == 1 %}
                <h2 class="card-header">{% trans "Interface Assignment" %}</h2>
            {% else %}
                <h2 class="card-header">{% trans "Interface Assignments" %}</h2>
            {% endif %}
            <div class="table-responsive">
                {% render_table interface_assignments_table 'inc/table.html' %}
            </div>
        </div>
        {% include 'inc/panels/custom_fields.html' %}
        {% plugin_left_page object %}
    </div>
    <div class="col-md-6">
        {% include 'inc/panels/tags.html' %}
        {% include 'inc/panels/comments.html' %}
        {% plugin_right_page object %}
    </div>
</div>
<div class="row">
    <div class="col col-md-12">
        <div class="card">
            <h5 class="card-header">
                Source Policies
            </h5>
            {% htmx_table 'plugins:netbox_nsm:securityzonepolicy_list' source_zone_id=object.pk %}
        </div>
        <div class="card">
            <h5 class="card-header">
                Destination Policies
            </h5>
            {% htmx_table 'plugins:netbox_nsm:securityzonepolicy_list' destination_zone_id=object.pk %}
        </div>
    </div>
    {% plugin_full_width_page object %}
</div>
{% endblock %}