{% extends 'generic/object_edit.html' %}
{% load form_helpers %}
{% load i18n %}
{% load static %}

{% block head %}
  {{ block.super }}
{% endblock head %}

{% block form %}
  {% for field in form.hidden_fields %}
    {{ field }}
  {% endfor %}

  {{ form.non_field_errors }}

  <div class="field-group mb-4">
    <div class="row mb-3"><div class="col-12"><h2>{% trans "Security Rule" %}</h2></div></div>
    {% render_field form.rulebook %}
    {% render_field form.index %}
    {% render_field form.enabled %}
    {% render_field form.name %}
    {% render_field form.description %}
  </div>

  <div id="nsm-rule-picker" data-nsm-rule-picker>
    {# Sections are rendered here by security_rule_form.js, one per area #}
  </div>

  <div class="nsm-hidden-pickers">
    <input type="hidden" name="area_selections" id="nsm-area-selections" value="[]">
    <input type="hidden" name="virtual_group_config" id="nsm-virtual-group-config" value="{}">
  </div>

  <div class="field-group mb-4">
    {% render_field form.tags %}
  </div>

  {% if form.comments %}
    <div class="field-group mb-5">
      {% render_field form.comments %}
    </div>
  {% endif %}

  {% if form.changelog_message %}
    <div class="bg-primary-subtle border border-primary rounded-1 pt-3 px-3 mb-3">
      {% render_field form.changelog_message %}
    </div>
  {% endif %}
{% endblock form %}

{% block javascript %}
  {{ block.super }}
  {% if nsm_rule_picker_data %}
  {{ nsm_rule_picker_data|json_script:"nsm-rule-picker-data" }}
  {% endif %}
  {% if nsm_rule_selections %}
  {{ nsm_rule_selections|json_script:"nsm-rule-selections" }}
  {% endif %}
  {% if nsm_rule_virtual_groups %}
  {{ nsm_rule_virtual_groups|json_script:"nsm-rule-virtual-groups" }}
  {% endif %}
  <script>
  window.NSM_I18N = {
    "remove_selected": "{% trans 'Remove selected' %}",
    "search_in": "{% trans 'Search in' %}",
    "types": "{% trans 'Types' %}",
    "groups": "{% trans 'Groups' %}",
    "search": "{% trans 'Search' %}",
    "remove": "{% trans 'Remove' %}",
    "search_tip": "{% trans 'Tip: use * or leave empty to show all' %}"
  };
  </script>
  <script src="{% static 'netbox_nsm/js/security_rule_form.js' %}?v=20260531b"></script>
{% endblock javascript %}
