{% extends 'generic/object.html' %}
{% load i18n %}
{% load helpers %}
{% load plugins %}

{% block content %}
<div class="row">
  <div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">{% trans "Security Policy" %}</h5>
      <table class="table table-hover attr-table">
        <tr>
          <th scope="row">{% trans "Name" %}</th>
          <td>{{ object.name }}</td>
        </tr>
        <tr>
          <th scope="row">{% trans "Type" %}</th>
          <td>{{ object.get_rulebook_type_display }}</td>
        </tr>
        {% if object.description %}
        <tr>
          <th scope="row">{% trans "Description" %}</th>
          <td>{{ object.description|placeholder }}</td>
        </tr>
        {% endif %}
        {% if object.rule_comment_template %}
        <tr>
          <th scope="row">{% trans "Rule Comment Template" %}</th>
          <td><pre class="mb-0 small" style="white-space:pre-wrap">{{ object.rule_comment_template }}</pre></td>
        </tr>
        {% endif %}
      </table>
    </div>
    {% include 'inc/panels/custom_fields.html' %}
    {% include 'inc/panels/tags.html' %}
    {% include 'inc/panels/comments.html' %}
    {% plugin_left_page object %}
  </div>
  <div class="col-md-6">
    {% plugin_right_page object %}
  </div>
</div>
{% plugin_full_width_page object %}
{% endblock %}
