{% extends 'generic/object.html' %}
{% load i18n %}
{% load helpers %}
{% load plugins %}
{% load render_table from django_tables2 %}

{% block extra_controls %}
{% endblock extra_controls %}


{% block content %}
<div class="row">
    <div class="col col-md-6">
        <div class="card">
            <h5 class="card-header">{% trans "Security Zones" %}</h5>
            <table class="table table-hover attr-table">
                <tr>
                    <th scope="row">{% trans "Name" %}</th>
                    <td>{{ object.name }}</td>
                </tr>
                <tr>
                    <th scope="row">{% trans "Color" %}</th>
                    <td>
                        <span style="display:inline-block;width:14px;height:14px;border:1px solid #666;background:{{ object.color }};margin-right:6px;vertical-align:middle"></span>
                        <code>{{ object.color }}</code>
                    </td>
                </tr>
                <tr>
                    <td>{% trans "Source Policy Count" %}</td>
                    <td>{{ object.source_policy_count|placeholder }}</td>
                </tr>
                <tr>
                    <td>{% trans "Destination Policy Count" %}</td>
                    <td>{{ object.destination_policy_count|placeholder }}</td>
                </tr>
                {% if object.description %}
                <tr>
                    <th scope="row">{% trans "Description" %}</th>
                    <td>{{ object.description|placeholder }}</td>
                </tr>
                {% endif %}
                {% if object.tenant %}
                <tr>
                    <th scope="row">{% trans "Tenant" %}</th>
                    <td>
                        {% if object.tenant.group %}
                            {{ object.tenant.group|linkify }} /
                        {% endif %}
                        {{ object.tenant|linkify|placeholder }}
                    </td>
                </tr>
                {% endif %}
            </table>
        </div>
        {% include 'inc/panels/custom_fields.html' %}
        {% plugin_left_page object %}
    </div>
    <div class="col-md-6">
        {% include 'inc/panels/tags.html' %}
        {% include 'inc/panels/comments.html' %}
        {% plugin_right_page object %}
    </div>
</div>
<div class="row">
    {% plugin_full_width_page object %}
</div>
{% endblock %}