{% extends 'base/layout.html' %}
{% load i18n %}

{% block title %}{% trans "NSM Setup" %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-xl-10">

    {% if messages %}
    <div class="mb-3">
      {% for message in messages %}
      <div class="alert alert-{{ message.tags|default:'info' }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
      {% endfor %}
    </div>
    {% endif %}

    {% include 'netbox_nsm/inc/setup_custom_object_schema.html' %}
    {% include 'netbox_nsm/inc/setup_demo.html' %}

  </div>
</div>
{% endblock %}
