{% extends 'generic/object.html' %}
{% load i18n %}
{% load helpers %}

{% block content %}
<div class="row">
  <div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">{% trans "Type Config" %}</h5>
      <table class="table table-hover attr-table">
        <tr><th scope="row">{% trans "Name" %}</th><td>{{ object.name }}</td></tr>
        <tr><th scope="row">{% trans "Object Type" %}</th><td>{{ object.content_type_label|placeholder }}</td></tr>
        <tr><th scope="row">{% trans "Matching Class" %}</th><td>{{ object.get_matching_class_display|placeholder }}</td></tr>
        <tr><th scope="row">{% trans "Display Template" %}</th><td><code>{{ object.display_template|placeholder }}</code></td></tr>
        <tr>
          <th scope="row">{% trans "Linkable in panel" %}</th>
          <td>
            {% if object.is_panel_linkable_disabled %}
              <span class="text-muted">{% trans "Disabled" %}</span>
            {% else %}
              {% with labels=object.panel_linkable_type_labels %}
                {% if labels %}
                  {{ labels|join:", " }}
                {% else %}
                  {% trans "All types" %}
                {% endif %}
              {% endwith %}
            {% endif %}
          </td>
        </tr>
        <tr><th scope="row">{% trans "Allow Virtual Groups" %}</th><td>{% checkmark object.allow_virtual_groups %}</td></tr>
        <tr><th scope="row">{% trans "Inherit from parent" %}</th><td>{% checkmark object.inherit_links %}</td></tr>
        <tr><th scope="row">{% trans "Stop inheritance if own link present" %}</th><td>{% checkmark object.inherit_stop_on_own %}</td></tr>
      </table>
    </div>
    {% include 'inc/panels/custom_fields.html' %}
  </div>
  <div class="col-md-6">
    {% include 'inc/panels/tags.html' %}
    {% include 'inc/panels/comments.html' %}
  </div>
</div>
{% endblock %}
