{% load i18n %}

{% if rules_show_bulk_delete and bulk_delete_url %}
<div class="sticky-actions d-print-none" data-sticky-position="left" data-sticky-when="selection">
  <div class="btn-list bulk-action-buttons">
    <button type="button"
            name="_delete"
            class="btn btn-sm btn-red text-nowrap"
            hx-post="{{ bulk_delete_url }}"
            hx-include="closest form"
            hx-target="#htmx-modal-content"
            hx-swap="innerHTML"
            hx-select="form"
            data-bs-toggle="modal"
            data-bs-target="#htmx-modal">
      <i class="mdi mdi-trash-can-outline" aria-hidden="true"></i> {% trans "Delete" %}
    </button>
  </div>
</div>
{% endif %}
