{% load i18n %}

<div class="nsm-rules-results mb-3 d-print-none" id="rules-results">
  <div class="nsm-rules-results-left">
    <span class="text-muted">
      {% blocktrans trimmed with count=rules_filtered_count %}
        {{ count }} rules
      {% endblocktrans %}
    </span>
  </div>
  <div class="nsm-rules-results-center min-w-0">
    {% include "netbox_nsm/inc/rulebook_rules_display_options.html" %}
  </div>
  <div class="nsm-rules-results-right">
    {% include "netbox_nsm/inc/rulebook_rules_configure_table.html" %}
  </div>
</div>
