{# Quartz + withParams (light); see AG Grid Theming: Colours. Legacy fallback below. #}
<link rel="stylesheet" href="{% url 'plugins:netbox_nsm:plugin_asset' asset_path='vendor/ag-grid-community/styles/ag-theme-quartz.min.css' %}?v=33.2.4" disabled id="nsm-ag-legacy-theme-css">
{% load i18n %}
{% load static %}
<link rel="stylesheet" href="{% static 'netbox_nsm/css/nsm_lazy_picker.css' %}">
<link rel="stylesheet" href="{% url 'plugins:netbox_nsm:plugin_asset' asset_path='css/policy_ag_grid.css' %}?v=20260833">
